<ion-view view-title='Categories'>
    <ion-content padding='true' class="categoryBg">
        <div class="row text-center row-no-padding"
             ng-repeat="n in _.range(0, (_.size(general_list_headings) / 3))">
            <div class="col col-33 itemsBg">
                <a href="#/general_list/{{general_list_id}}/{{general_list_headings[$index*3]}}">
                    <div class="categoryWrapper">
                        <img ng-src="{{general_list[general_list_headings[$index*3]].icon}}"
                             alt="{{general_list[general_list_headings[$index*3]].icon}}"/>
                    </div>
                    <div class="categoryText">{{general_list_headings[$index*3]}}</div>
                </a>
            </div>
            <div class="col col-33 itemsBg" ng-if="general_list_headings[$index*3 +1] != undefined">
                <a href="#/general_list/{{general_list_id}}/{{general_list_headings[$index*3 + 1]}}">
                    <div class="categoryWrapper">
                        <img ng-src="{{general_list[general_list_headings[$index*3 +1]].icon}}"
                             alt="{{general_list[general_list_headings[$index*3 +1]].icon}}"/>
                    </div>
                    <div class="categoryText">{{general_list_headings[$index*3+1]}}</div>
                </a>
            </div>
            <div class="col col-33 itemsBg" ng-if="general_list_headings[$index*3 +2] != undefined">
                <a href="#/general_list/{{general_list_id}}/{{general_list_headings[$index*3 + 2]}}">
                    <div class="categoryWrapper">
                        <img ng-src="{{general_list[general_list_headings[$index*3 +2]].icon}}"
                             alt="{{general_list[general_list_headings[$index*3 +2]].icon}}"/>
                    </div>
                    <div class="categoryText">{{general_list_headings[$index*3+2]}}</div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>